* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --black: #4D4C59;
  --purple: #6C63FF;
	--light-grey: #C8C8C8;
  --text-color: #9C9AB6;
}

body {
  max-width: 100vh;
}


body * {
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
